<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="ritter" value="https://pkgs.dev.azure.com/andersonritter/Ritter/_packaging/ritter/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ritter>
			<add key="Username" value="g72qgdxezce3cggu3syldja5rfnkykk7zdanwxzfazwzsm2vr4kq" />
			<add key="ClearTextPassword" value="g72qgdxezce3cggu3syldja5rfnkykk7zdanwxzfazwzsm2vr4kq" />
		</ritter>
	</packageSourceCredentials>
</configuration>
